@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");
:root {
  --primary-text: #1e272e;
  --secondary-text: #566474;
  --primary-border: #ebf0f5;
  --hover-bg: #f7f8fa;
  --btn-bg: #142683;
  --hover-color: #445ee2;
  --sm: 0.75rem;
  --smm: 0.875rem;
  --md: 1rem;
  --lg: 1.375rem;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

body {
  color: var(--primary-text);
  font-size: var(--md);
  /* overflow: hidden; */
}

.primary-text {
  font-weight: 700;
  color: var(--primary-text);
  font-size: var(--md);
}
.secondary-text {
  font-weight: 400;
  color: var(--secondary-text);
  font-size: var(--sm);
}
.large-text {
  font-weight: 700;
  color: var(--primary-text);
  font-size: var(--lg);
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
