.root {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 1.875rem 2.54rem;
}
.root > p {
  font-weight: 400;
  font-size: var(--sm);
  color: var(--secondary-text);
}
.lower {
  display: flex;
  gap: 1.875rem;
}

.commonContainer {
  border-radius: 10px;
  border: 1px solid var(--primary-border);
  padding: 1.875rem;
}
.aside {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.modalEntryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalEntrySubContainer {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.htmlImg {
  height: 50px;
}

.updateBtn {
  color: white;
  line-height: 28px;
  background-color: var(--btn-bg);
  border-radius: 5px;
  padding: 0.5rem 2.219rem;
}

.quickStatsContainer {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
}
.quickStatsSubContainer {
  display: flex;
}

.statContainer {
  display: flex;
  gap: 1.25rem;
}
.statIcon {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--hover-bg);
  border-radius: 100%;
}
.verticalLine {
  width: 1px;
  height: 50px;
  margin: 0 2rem;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--primary-border);
}
.comparisonGraphContainer {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.comparisonGraphSubContainer {
  display: flex;
  gap: 7rem;
  align-items: center;
}
.syllabusSubContainer {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.percentage {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.progressBar {
  margin-right: 3rem;
}

.syllabusItem {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  font-weight: 400;
  color: var(--secondary-text);
  font-size: var(--md);
}

.donutContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 24rem;
}
.donutParent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.donutContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.donutHeadings {
  display: flex;
  justify-content: space-between;
}
.donutHeadingBlue {
  color: #438af6;
}
.actualDonut {
  width: 70%;
}
.donutTarget {
  font-size: 40px;
  position: absolute;
}
